{% extends "index.html" %} {% block content1 %}

<section>
  <div class="jumbotron bg-transparent">
    {% for s in sData %}
    <form action="/updatedSeller/{{s[0]}}" method="POST">
      <div class="form-group">
        <h3 class="text-center">UPDATE SELLER</h3>
        <br>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Company Name</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="" name="company" value="{{s[1]}}"/>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Email</label>
            <input type="email" class="form-control" id="validationCustom03" placeholder="" name="email" value="{{s[2]}}"/>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Contact Person</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="" name="contact" value="{{s[3]}}"/>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">Phone No</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="" name="phone"
              minlength="10" value="{{s[4]}}"/>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-lg btn-outline-primary">Submit</button>
      </div>
    </form>
    {% endfor %}
  </div>
</section>

{% endblock content1 %}